# Data Science Internship â€“ Logic Building Task 2

#
Problem 1: Unique Words in a Sentence

In [7]:
print("---- Problem 1: Unique Words ----")

sentence = "python is easy and python is powerful"

words = sentence.split()
unique_words = set(words)

print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

---- Problem 1: Unique Words ----
Unique words count: 5
Unique words: {'is', 'easy', 'powerful', 'python', 'and'}

# Problem 2: Highest Salary from Employee Data

In [8]:
print("\n---- Problem 2: Highest Salary ----")

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

highest_employee = max(employees, key=employees.get)
print("Highest Salary:", highest_employee, "-", employees[highest_employee])

---- Problem 2: Highest Salary ----
Highest Salary: Ravi - 75000

# Problem 3: Find Maximum and Minimum Values

In [9]:
numbers = [45, 22, 89, 10, 66]

maximum = numbers[0]
minimum = numbers[0]

for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num

print("List:", numbers)
print("Max:", maximum)
print("Min:", minimum)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

# Problem 4: Count Products Above Price Threshold

In [10]:
print("\n---- Problem 4: Products Above 1000 ----")

prices = [450, 1200, 899, 1500, 300]

count = 0

for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

---- Problem 4: Products Above 1000 ----
Products above 1000: 2

# Problem 5: Calculate Attendance Percentage

In [11]:

print("\n---- Problem 5: Attendance Percentage ----")

attendance = ["P", "P", "A", "P", "P"]

present_count = attendance.count("P")
total_days = len(attendance)

percentage = (present_count / total_days) * 100

print("Attendance Percentage:", percentage)

---- Problem 5: Attendance Percentage ----
Attendance Percentage: 80.0

# Problem 6: Remove Duplicate Phone Numbers

In [12]:
print("\n---- Problem 6: Unique Phone Numbers ----")

phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

---- Problem 6: Unique Phone Numbers ----
Unique phone numbers: {9876543210, 9123456789}

# Problem 7: Count Character Frequency

In [13]:
print("\n---- Problem 7: Character Frequency ----")

text = "python"
frequency = {}

for char in text:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1

print("Character Frequency:", frequency)

---- Problem 7: Character Frequency ----
Character Frequency: {'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

# Problem 8: Convert List to Tuple

In [14]:
print("\n---- Problem 8: List to Tuple ----")

my_list = [10, 20, 30]

my_tuple = tuple(my_list)

print("Tuple:", my_tuple)

---- Problem 8: List to Tuple ----
Tuple: (10, 20, 30)

# Problem 9: Check if Key Exists in Dictionary

In [15]:
print("\n---- Problem 9: Check Key Exists ----")

employee_data = {"Ravi": 75000, "Anita": 68000}

if "Ravi" in employee_data:
    print("Employee exists")
else:
    print("Employee does not exist")

---- Problem 9: Check Key Exists ----
Employee exists

# Problem 10: Calculate Average Marks

In [16]:
print("\n---- Problem 10: Average Marks ----")

marks = [70, 75, 80, 65]

average = sum(marks) / len(marks)

print("Average Marks:", average)

---- Problem 10: Average Marks ----
Average Marks: 72.5